* {
box-sizing: border-box;
}

body{
  max-width: 100%;
  width: 960px;
  margin: 0 auto;
}

.header {
  display: flex;
  background-color: lightgrey;
}
.commun{
  width: 50%;
  padding: 0 30px;
}
main{
  border: 1px solid black;
}

#contact{
  text-align: left;
  padding: 0 10px 0 200px ;
}
#info{
  padding: 0 40px;
}
/* CSS header au dessus*/

.conteneur{
  display:flex;
  flex-wrap: wrap;
  border: 1px solid red;
}
.article {
  width: 50%;
  padding-left: 30px;
}
#Experience {
  width: auto;
}

/* CSS conteneur au dessus*/

.element{
  display: flex;
}


.aside{
  width: 50%;
}
/* CSS element au dessus*/
