/** {
box-sizing: border-box;

}

main {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  color: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
}

body{
  max-width: 100%;
  width: 960px;
  margin: 20px auto;
}*/
html{
  color: rgb(87, 88, 89);
  font-family: 'Quicksand' , sans-serif;
}
body{
  margin: 0 auto;
}
main{
  margin: 0 auto;
  display: flex;
}
img{
  border-radius: 50%;
  width:120px;
  padding-top: 20px;
  padding-left: 10%;
}
/*div genre*/
.genre{
  padding-top: 2.5rem;
  list-style: none;
}
.genre i {
  padding-right: 10px;
}
/*div competences*/
.competences{
  margin-top: 2.5rem;
  /*list-style: none;*/
}
/*div langues*/
.langues{
  margin-top: 2.5rem;
  list-style: none;
}
/*div Infos*/
.infos{
  margin-top: 2.5rem;
  list-style: none;

}
.infos ul{
  padding-left: 20px;
}
.part1{
  width: 25%;
  padding-left: 54px;
  background-color: #F6F7F2;
  box-shadow: inset 0px 2px 2px 2px #ededed ;
  padding-bottom: 0.8rem;

}
.part2{
  width: 75%;
  padding-left: 15px;
  padding-bottom: 0.8rem;
}
.part2 p:first-child{
  color: #97CE68;
}
.formation p{
  padding-left: 25px;
}
.exp_pro p{
  padding-left: 25px;
}
h1{
  background-color: #00B5B5;
  height: 3.3rem;
  margin-top: 0;
  padding-top: 10px;
  margin-bottom: 0;
  padding-left: 15px;
}
span{
  color: #97CE68;
}
hr{
  border: 1px dotted rgb(87, 88, 89);
  margin-left: 30px;
  margin-right:120px;
}

.fa-circle{
  color: #00B5B5;
}
i{
  color:#00B5B5;
}
footer{
  display: flex;
  height: 4.3rem;
  justify-content: space-around;
  background-color: #00B5B5;
  /*margin-top: .8rem;*/
}
footer p:first-child{
  margin-top: 3px;
}
footer i{
  color: grey;
}
